---
import { Image } from "astro:assets";
import Icon from "../../public/YN-icon.png";
import TagList from "./TagList.astro";

export interface Props {
  href: string | URL;
  title: string;
  imgSrc: string | undefined;
  tags?: string[];
}
const { href, title, imgSrc, tags } = Astro.props;
const useFallbackImage = imgSrc === undefined || imgSrc === "";
---

<a class="card" href={href}>
  <div>
    <h3 class="card-text">{title}</h3>
    {tags && <TagList tags={tags} isLink={false} />}
  </div>
  {
    useFallbackImage ? (
      <div class="fallback-bg">
        <div class="fallback-thumbnail">
          <Image class="fallback-icon" src={Icon} alt="" />
        </div>
      </div>
    ) : (
      <img class="thumbnail" src={imgSrc} alt="" />
    )
  }
</a>

<style>
  .card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    text-decoration: none;
    color: var(--text-color);
    &:visited {
      color: var(--visited);
    }
    &:hover {
      background-color: var(--slight-accent);
    }
  }
  .card-text {
    margin-inline: 0.8rem;
  }
  .thumbnail {
    width: 12rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 0 8px 8px 0;
  }
  .fallback-bg {
    border-radius: 0 8px 8px 0;
    background-color: var(--fallback-bg);
  }
  .fallback-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 8rem;
    border-radius: 0 8px 8px 0;
    background-color: white;
    opacity: 60%;
  }
  .fallback-icon {
    width: auto;
    height: 60%;
  }
  @media screen and (max-width: 768px) {
    .thumbnail {
      width: 9rem;
      height: 7rem;
    }
    .fallback-thumbnail {
      width: 9rem;
      height: 7rem;
    }
  }
</style>
