---
export interface Props {
  pageTitle?: string;
  title?: string;
  description?: string;
  og?: {
    type?: string;
    title?: string;
    sitename?: string;
    image?: string;
    twitter?: {
      card?: string;
      site?: string;
      creator?: string;
    };
  };
  jsonld?: {
    attype?: string;
    author?: {
      type?: string;
      name?: string;
      url?: string;
    };
  };
}
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../consts";
const { pageTitle, title, description, og, jsonld } = Astro.props;

const metadata = {
  title: title ?? (pageTitle ? `${pageTitle} - ${SITE_TITLE}` : SITE_TITLE),
  description: description ?? "新入生情報Web 2026",
  og: {
    type: og?.type ?? "website",
    title:
      og?.title ?? (pageTitle ? `${pageTitle} - ${SITE_TITLE}` : SITE_TITLE),
    sitename: og?.sitename ?? SITE_TITLE,
    image: og?.image ?? Astro.site + "og.png", //完全修飾URLである必要がある
    twitter: {
      card: og?.twitter?.card ?? "summary_large_image",
      site: og?.twitter?.site ?? "@public_zdk",
      creator: og?.twitter?.creator ?? "@public_zdk",
    },
  },
  jsonld: {
    attype: jsonld?.attype ?? "WebSite",
    author: {
      attype: jsonld?.author?.type ?? "Organization",
      name: jsonld?.author?.name ?? "全学学類・専門学群・総合学域群代表者会議",
      url: jsonld?.author?.url ?? "https://www.zdk.tsukuba.ac.jp",
    },
  },
};

const isArticleType = ["Article", "BlogPosting", "NewsArticle"].includes(
  metadata.jsonld.attype,
);
const jsonldStringfy = JSON.stringify({
  "@type": metadata.jsonld.attype,
  ...(isArticleType
    ? {
        headline: pageTitle ?? title ?? metadata.title,
        url: Astro.url.href,
        isPartOf: {
          "@type": "WebSite",
          name: SITE_TITLE,
          url: Astro.site,
        },
      }
    : { name: metadata.title }),
  inLanguage: "ja-JP",
  author: [
    {
      "@type": metadata.jsonld.author.attype,
      name: metadata.jsonld.author.name,
      url: metadata.jsonld.author.url,
    },
  ],
  publisher: {
    "@type": "Organization",
    name: "全学学類・専門学群・総合学域群代表者会議",
    url: "https://www.zdk.tsukuba.ac.jp",
    logo: {
      "@type": "ImageObject",
      url: "https://www.stb.tsukuba.ac.jp/~zdk/wp-content/uploads/2023/02/cropped-zdk_favicon.png",
    },
  },
});
---

<!doctype html>
<html lang="ja" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/png" href="/YN-icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description} />
    <meta property="og:title" content={metadata.og.title} />
    <meta property="og:site_name" content={metadata.og.sitename} />
    <meta property="og:image" content={metadata.og.image} />
    <meta name="twitter:card" content={metadata.og.twitter.card} />
    <meta property="twitter:site" content={metadata.og.twitter.site} />
    <meta property="twitter:creator" content={metadata.og.twitter.creator} />
    <script type="application/ld+json" set:html={jsonldStringfy} />
  </head>
  <body>
    <div class="container">
      <Header />
      <slot />
      <Footer />
    </div>
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
    --bg-color: light-dark(#fff, #1f1f1f);
    --font-base:
      -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
    --text-color: light-dark(#000, #fff);
    --link-color: light-dark(#666, #ddd);
    --visited: light-dark(#444, #bbb);
    --slight-accent: light-dark(#f5f5f5, #2f2f2f);
    --border-color: light-dark(#bbb, #888);
    --border-color-accent: light-dark(#777, #aaa);
    --theme-color: light-dark(#0e9c26, #2db446);
    --theme-color-accent: light-dark(#0b7a1f, #52cc68);
    --fallback-bg: light-dark(#c3c3c3, #484848);
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-base);
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  .container {
    width: 620px;
    overflow-wrap: break-word;
    margin-inline: auto;
  }
  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding-inline: 16px;
    }
  }
</style>
